{{#if entry.read}}
  <li class="feedr-entry-list-item feedr-entry-read">
{{else}}
  <li class="feedr-entry-list-item">
{{/if}}
  <div class="row">

    <div title="{{entry.feed_title}}" class="three columns feedr-feed-title">
        {{entry.feed_title}}
    </div>

    <div title="{{entry.title}}" class="seven columns feedr-entry-title">
      <a href="{{entry.url}}">{{entry.title}}</a>
    </div>

    <div class="two columns">
      {{> partials/entry/item_tools entry=entry}}
    </div>

  </div>
</li>
