<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{{css href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css"}}}
    {{{css href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"}}}
    {{{css href="/css/main.css"}}}
  </head>
  <body>
    {{> partials/header}}
    <div id="loader">Loading...</div>
    <div id="content" class="container"> {{{content}}} </div>
    {{> partials/footer}}

    {{{js src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"}}}
    {{{js src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"}}}
    {{{js src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"}}}
    {{{js src="/js/bundle.js"}}}
  </body>
</html>
